
#community-store-sub-nav {
    display: block;
    width: 100%;
    height: 44px;
    background-color: #0095d9;
    display: flex;
    color: #ffffff;
    padding: 0 6px;
}
#community-store-sub-nav span  {
 padding-left: 24px;
}
#community-store-sub-nav span a {
    font-size: 14px;
    color: #ffffff;
    line-height: 44px;
    vertical-align: middle;
}

#community-store-intro {
    height: 597px;
    display: flex;
    padding-left: 30px;
    padding-bottom: 87px;
}

#intro-text{
    align-self: flex-end;
    text-align: left;
    max-width: 100%;
}

#community-store-intro .title {
    font-family: $condensed-extra-font-face;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 5rem;
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#community-store-intro p{
    opacity: 0.8;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.42;
    color: #ffffff;
}

