<!DOCTYPE html>
<html lang="en">
{% include _head.html %}
  <body class="crds-styles">
    {% include _gtm-body.html %}
    {% if page.requires_auth %}
      {% include _preloader.html %}
    {% endif %}
    {{ content }}
    <script>
      function redirectUnauthenticated() {
        if (!document.cookie.includes('userId')) {
          window.location.href = '/signin';
        }
      }
      document.addEventListener("redirect-url-set", redirectUnauthenticated);
      if (window.isRedirectUrlSet) {
        redirectUnauthenticated();
      }
    </script>
    <script type="text/javascript" src="{% asset application.js @path %}"></script>
    <script async type="text/javascript" src="{% asset application_deferred.js @path %}"></script>
  </body>
</html>
